<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>111FA5C0-A655-47EF-98AD-068B020FBA80</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pinstaadmin</string>
			<key>text</key>
			<string>pequity instacart admin</string>
			<key>url</key>
			<string>http://instacart.localhost:8000/crazytown/</string>
		</dict>
		<key>14D64127-8B26-42EF-9D88-471CE93F8C11</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>admin</string>
			<key>text</key>
			<string>django admin</string>
			<key>url</key>
			<string>http://instacart.localhost:8000/crazytown/</string>
		</dict>
		<key>16D553BE-F8EE-4080-9EBA-EA32E4196144</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jb</string>
			<key>text</key>
			<string>Jira Backlog</string>
			<key>url</key>
			<string>https://pequity.atlassian.net/jira/software/projects/CC/boards/14/backlog</string>
		</dict>
		<key>1B71913C-4AB5-48D7-9624-CD965B0478BB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>okta</string>
			<key>text</key>
			<string>okta</string>
			<key>url</key>
			<string>https://joinhomebase.okta.com/app/UserHome</string>
		</dict>
		<key>24DBCA4E-4EB4-41FB-ABF2-9FFC0D329E43</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jci</string>
			<key>text</key>
			<string>Jira Create Issue</string>
			<key>url</key>
			<string>https://pequity.atlassian.net/secure/CreateIssue.jspa</string>
		</dict>
		<key>2D9709DC-2E05-4249-8F68-9DAE3EA90B43</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>con</string>
			<key>text</key>
			<string>confluence</string>
			<key>url</key>
			<string>https://pequity.atlassian.net/wiki/spaces/ENG/overview</string>
		</dict>
		<key>3AFE0FCC-6A35-4DF1-914E-FF52666A11B5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>staging</string>
			<key>text</key>
			<string>Pequity Staging</string>
			<key>url</key>
			<string>https://instacart.pequityqa.com/v2/</string>
		</dict>
		<key>3B419890-2443-49DE-8660-AF0278806675</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>instacart</string>
			<key>text</key>
			<string>pequity insta</string>
			<key>url</key>
			<string>http://instacart.localhost:5173/v2/</string>
		</dict>
		<key>6912516E-9A3B-419D-A961-2113FA432506</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>confluence</string>
			<key>text</key>
			<string>Confluence Engineering</string>
			<key>url</key>
			<string>https://joinhomebase.atlassian.net/wiki/spaces/ENGINEERIN/overview?homepageId=33975</string>
		</dict>
		<key>6CE41172-F0EE-40C7-99CB-0FCF15921929</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ja</string>
			<key>text</key>
			<string>Jira Active Sprint</string>
			<key>url</key>
			<string>https://pequity.atlassian.net/jira/software/projects/CC/boards/14</string>
		</dict>
		<key>7929A8C9-B3B3-4116-8F73-A6280402A86F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pinsta</string>
			<key>text</key>
			<string>pequity instacart</string>
			<key>url</key>
			<string>http://instacart.localhost:5173/v2/</string>
		</dict>
		<key>803ADF96-8BDA-484E-8097-0914DF254CC2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jt</string>
			<key>text</key>
			<string>Jira Ticket {query}</string>
			<key>url</key>
			<string>https://pequity.atlassian.net/browse/CC-{query}</string>
		</dict>
		<key>8F827B93-FD2D-4FE9-9BB6-2980D80E9BDF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hbapi</string>
			<key>text</key>
			<string>hb api docs</string>
			<key>url</key>
			<string>https://staging.joinhomebase.com/client_api#api-v4-create-company-creates-the-business</string>
		</dict>
		<key>99E667FE-3D50-4879-96C8-EA726587B9B7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sentry</string>
			<key>text</key>
			<string>Sentry</string>
			<key>url</key>
			<string>https://pequity.sentry.io/issues/?project=6006454&amp;statsPeriod=14d</string>
		</dict>
		<key>9EF39F55-45F6-4A68-8070-513F9A35EC82</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>comp</string>
			<key>text</key>
			<string>Comp Cycle ENV</string>
			<key>url</key>
			<string>https://instacart.comp-cycle.pequity.us/v2/</string>
		</dict>
		<key>A76A2250-4326-483C-9B39-5B4895F9E31E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghpr</string>
			<key>text</key>
			<string>Pequity PRs</string>
			<key>url</key>
			<string>https://github.com/getpequity/pequity/pulls</string>
		</dict>
		<key>AD0CFC21-09C9-4281-BC25-B7F578ECA818</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gpt</string>
			<key>text</key>
			<string>ChatGpt</string>
			<key>url</key>
			<string>https://chat.openai.com/</string>
		</dict>
		<key>B40EAA31-D03E-4734-9144-96336C55453E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Github</string>
			<key>url</key>
			<string>https://www.github.com</string>
		</dict>
		<key>B6DBF8EC-DEAF-489F-A169-8DBA82F26BB8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ph</string>
			<key>text</key>
			<string>PostHog Dashboard</string>
			<key>url</key>
			<string>https://us.posthog.com/home</string>
		</dict>
		<key>C2AAAE2A-4FE8-4F07-91B4-A9E859D4F004</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>claude</string>
			<key>text</key>
			<string>claude</string>
			<key>url</key>
			<string>https://claude.ai/new</string>
		</dict>
		<key>D262301A-6D06-4E1D-B0E8-7472FE6F059C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wsb</string>
			<key>text</key>
			<string>Wall Street Bets</string>
			<key>url</key>
			<string>https://www.reddit.com/r/wallstreetbets/</string>
		</dict>
		<key>D52F9776-69F6-49F9-9EC1-3F9A84E142BD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bl</string>
			<key>text</key>
			<string>Pequity CCP backlog</string>
			<key>url</key>
			<string>https://pequity.atlassian.net/jira/software/projects/CC/boards/14/backlog</string>
		</dict>
		<key>D591E50C-DFAC-451B-87EF-5C3311618FDD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dd</string>
			<key>text</key>
			<string>DataDog APM home</string>
			<key>url</key>
			<string>https://us5.datadoghq.com/apm/home</string>
		</dict>
		<key>E9358FB8-1630-4D9F-AF8E-2245AF7A318F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cal</string>
			<key>text</key>
			<string>calendar</string>
			<key>url</key>
			<string>https://calendar.google.com/calendar/u/0/r</string>
		</dict>
		<key>FD47567D-7B97-4947-B3F5-770400F26BCC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sb</string>
			<key>text</key>
			<string>Pequity Storybook</string>
			<key>url</key>
			<string>https://storybook.pequity.io/?path=/docs/squirrel-introduction--docs</string>
		</dict>
	</dict>
</dict>
</plist>
